In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('Data/bom.movie_gross.csv')
data.head(10)

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010
5,The Twilight Saga: Eclipse,Sum.,300500000.0,398000000,2010
6,Iron Man 2,Par.,312400000.0,311500000,2010
7,Tangled,BV,200800000.0,391000000,2010
8,Despicable Me,Uni.,251500000.0,291600000,2010
9,How to Train Your Dragon,P/DW,217600000.0,277300000,2010

In [3]:
# data shape
data.shape

(3387, 5)

In [4]:
# data value count
data.value_counts()

title                           studio    domestic_gross  foreign_gross  year
'71                             RAtt.     1300000.0       355000         2015    1
Solo: A Star Wars Story         BV        213800000.0     179200000      2018    1
Sparkle (2012)                  TriS      24400000.0      240000         2012    1
Space Dogs 3D                   EpicPics  14400.0         8300000        2012    1
Southside with You              RAtt.     6300000.0       208000         2016    1
                                                                                ..
Hubble 3D                       WB        52400000.0      21500000       2010    1
Howl                            Osci.     617000.0        566000         2010    1
How to be a Latin Lover         PNT       32100000.0      29700000       2017    1
How to Train Your Dragon 2      Fox       177000000.0     444500000      2014    1
xXx: The Return of Xander Cage  Par.      44900000.0      301200000      2017    1
Name: count, Length: 2007, dtype: int64

In [5]:
# data info
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

In [6]:
data['foreign_gross'].head(10)

0    652000000
1    691300000
2    664300000
3    535700000
4    513900000
5    398000000
6    311500000
7    391000000
8    291600000
9    277300000
Name: foreign_gross, dtype: object

In [7]:
data1 = data.sample(n = 20, random_state=1)

In [8]:
data1

,title,studio,domestic_gross,foreign_gross,year
2070,Ladrones,LGF,3100000.0,NaN,2015
2314,The Lady in the Car with Glasses and a Gun,Magn.,2200.0,NaN,2015
2507,Southside with You,RAtt.,6300000.0,208000,2016
893,Fun Size,Par.,9400000.0,2000000,2012
3311,Batti Gul Meter Chalu,Eros,250000.0,NaN,2018
1301,Black Nativity,FoxS,7000000.0,436000,2013
975,A Late Quartet,EOne,1600000.0,NaN,2012
2307,Club Life,Orch.,4400.0,NaN,2015
2111,5 Flights Up,FCW,1000000.0,NaN,2015
1074,Wagner & Me,FRun,37700.0,41000,2012
462,I Don't Know How She Does It,Wein.,9700000.0,20900000,2011
2234,The Ark of Mr. Chow,CL,54100.0,NaN,2015
2681,Being 17,Strand,52700.0,NaN,2016
2064,Learning to Drive,BG,3400000.0,NaN,2015
2433,Luck-Key,JBG,467000.0,47700000,2016
2601,The Boy and the Beast,FUN,491000.0,NaN,2016
3112,Pacific Rim Uprising,Uni.,59900000.0,231100000,2018
3301,Fireworks (2018),GK,525000.0,NaN,2018
1596,Devil's Due,Fox,15800000.0,21100000,2014
563,The Greatest Miracle,KKM,555000.0,2500000,2011

In [10]:
data1.duplicated().sum()

0